# Security Warning! Do not commit this file to GitHub!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `template.env`!
# Template files must be committed to GitHub, but must not contain
# any secret values.

# ==== MONGODB ==============================================
MONGODB_USERNAME="[username]"
MONGODB_PASSWORD="[password]"
MONGODB_DATAMOUNT="[path/to/mongodb/data]" # NB: THIS FOLDER NEEDS TO EXIST BEFORE RUNNING THE CONTAINER