:root {
    // General background colors
    --clr-background-primary: hsl(204, 12%, 5%);
    --clr-background-secondary: hsl(210, 8%, 7%);

    // General border colors
    --clr-border-primary: hsl(240, 1%, 15%);

    // General text colors
    --clr-text-primary: hsl(180, 10%, 80%);
    --clr-text-secondary: hsl(180, 5%, 65%);

    // Menu item color
    --clr-menu-item-background: hsl(210, 8%, 11%);

    // Status colors
    --clr-status-red-00: #cf7b7b;
    --clr-status-red-type-00: #bd9494;
    --clr-status-red-border-00: #613e3e;
    --clr-status-red-background-00: #302727;
    --clr-status-red-background-01: #412c2c;

    --clr-status-green-00: #7bcf7b;
    --clr-status-green-type-00: #94bd94;
    --clr-status-green-border-00: #3e613e;
    --clr-status-green-background-00: #273027;
    --clr-status-green-background-01: #2c3c2c;
}
