:root {
    // General background colors
    --clr-background-primary: hsl(204, 12%, 5%);
    --clr-background-secondary: hsl(210, 8%, 7%);
    --clr-background-tertiary: hsl(210, 8%, 12%);

    // General border colors
    --clr-border-primary: hsl(240, 1%, 15%);

    // General text colors
    --clr-text-white: hsl(0, 0%, 100%);
    --clr-text-primary: hsl(180, 10%, 80%);
    --clr-text-secondary: hsl(180, 5%, 65%);
    --clr-text-tertiary: hsl(180, 5%, 45%);

    // Menu item color
    --clr-menu-item-background: hsl(210, 8%, 11%);

    --clr-asterisk-00: #c53b3b;

    // Input colors
    --clr-input-background-00: hsl(210, 8%, 11%);
    --clr-input-background-01: #14171a;
    --clr-input-border-00: hsl(210, 8%, 14%);
    --clr-input-border-01: hsl(210, 5%, 17%);

    // Button colors
    --clr-button-normal-background-00: #3f9b96;
    --clr-button-normal-background-01: #197972;
    --clr-button-normal-border-00: #65adab;
    --clr-button-normal-border-01: #3f9b96;

    --clr-button-outline-background-00: transparent;
    --clr-button-outline-background-01: #1a1f1f;
    --clr-button-outline-border-00: #2d3236;

    --clr-button-mono-background-00: #1a1f1f;
    --clr-button-mono-background-01: #262c2c;
    --clr-button-mono-border-00: #2d3236;

    --clr-button-disabled-background-00: transparent;
    --clr-button-disabled-border-00: #1e2224;

    --clr-checkbox-background-selected-00: #65adab;

    // Status Colors
    --clr-status-red-00: #cf7b7b;
    --clr-status-red-type-00: #bd9494;
    --clr-status-red-border-00: #613e3e;
    --clr-status-red-background-00: #302727;
    --clr-status-red-background-01: #412c2c;

    --clr-status-green-00: #7bcf7b;
    --clr-status-green-type-00: #94bd94;
    --clr-status-green-border-00: #3e613e;
    --clr-status-green-background-00: #273027;
    --clr-status-green-background-01: #2c3c2c;
}
