# Security Warning! Do not commit this file to GitHub!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.
#
# This is not applied to `template.env`!
# Template files must be committed to GitHub, but must not contain
# any secret values.

# ==== ScanGuard Frontend ==============================================
API_SERVER="http://localhost:5000"
API_ENDPOINT="http://localhost:5000/api"